body {
    font-size: 14px;
    color: navy;
    background-color: cornsilk;
}

h1 {
    color: darkslategrey;
    background: darkviolet;
}
h2 {
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px;
    padding: 40px;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 8px;
    border-color: deeppink;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
    text-align: center;
}