.googleLogo {
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    height: 72;
    width: 272;
    text-align: center;
    padding-bottom: 10px;
}

.googleSearchBar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 387px;
    border-radius: 10px;
    height: 34px;

}

.googleSearchButton {
    align-items: flex-start;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
    width: 150px;
}

.googleLuckyButton {
    align-items: flex-start;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
    width: 150px;
}